#include <iostream>
using namespace std;
#include <vector>

int main()
{

    cout << "PROGRAMA DE ORCAMENTOS" << endl << endl << endl;

    int ni = 0;
    double pt = 0;

    cout << "Numero de itens?" << endl;
    cin >> ni;
   
    while (ni<=0)
    {
        cout << "Numero de itens invalido" << endl << "Numero de itens?" << endl;
        cin >> ni;
    }

    vector <string> nomes;
    vector<int> precos;
    vector <int> comprimentos;
    vector <int> larguras;
    vector <int> custo_material;
    vector <char> lacagens;

    double c = 0, l = 0, cm = 0, pm = 0;
    string nm;
    string tm;
    string lacagem;

 
    for (int i = 0; i < ni; i++)
    {
        cout << "Nome do movel" << endl;
        cin >> nm;

        cout << "Cozinha? (sim/nao)" << endl;
        cin >> tm;

        while (tm != "sim" && tm != "nao") {
            cout << "Erro" << endl << "Cozinha? (sim/nao)" << endl;
            cin >> tm;
        }
       
        if (tm == "sim") {
            cout << "Comprimento?" << endl;
            cin >> c;

            while (c <= 0) {
                cout << "Comprimento invalido" << endl << "Comprimento?" << endl;
                cin >> c;
            }

            cout << "Largura?"<<endl;
            cin >> l;
            while (l <= 0) {
                cout << "Largura invalida" << endl << "Largura?" << endl;
                cin >> l;
            }

            cout << "Custo material (m2)?" << endl;
            cin >> cm;
            while (cm <= 0) {
                cout << "Erro" << endl << "Custo material (m2)?" << endl;
                cin >> cm;
            }


            cout << "Lacagem?(sim/nao)" << endl;
            cin >> lacagem;
            while (lacagem != "sim" && lacagem != "nao") {
                cout << "Erro" << endl << "Lacagem?(sim/nao)" << endl <<endl;
                cin >> lacagem;
            }

            if (lacagem == "sim")
            {
                pm = cm * c;
            }
            else {
                pm = cm * c + 70 * c * l;
            }
        }

        if (tm == "nao") {

            cout << "Comprimento?" << endl;
            cin >> c;

            while (c <= 0) {
                cout << "Comprimento invalido" << endl << "Comprimento?" << endl;
                cin >> c;
            }

            cout << "Largura?"<<endl;
            cin >> l;
            while (l <= 0) {
                cout << "Largura invalida" << endl << "Largura?" << endl;
                cin >> l;
            }

            cout << "Custo material (m2)?" << endl;
            cin >> cm;
            while (cm <= 0) {
                cout << "Erro" << endl << "Custo material (m2)?" << endl;
                cin >> cm;
            }

            cout << "Lacagem?(sim/nao)" << endl;
            cin >> lacagem;

            while (lacagem != "sim" && lacagem != "nao") {
                cout << "Erro" << endl << "Lacagem?(sim/nao)" << endl << endl ;
                cin >> lacagem;
            }
            if (lacagem == "nao")
            {
                pm = cm * c*l;
            }
            else {
                pm = cm * c + 70 * c * l;
            }

        }
        nomes.push_back(nm);
        precos.push_back(pm);
        comprimentos.push_back(c);
        larguras.push_back(l);
        custo_material.push_back(cm);
        if (lacagem == "nao") {
            lacagens.push_back('N');
        }
        else {
            lacagens.push_back('S');
        }
        pt = pt + pm;
    }
    for (int j = 0; j < ni; j++)
    {
        cout << endl << endl << "Movel: " << nomes[j] << endl << "Valor: " << precos[j] << endl << "Comprimento: " << comprimentos[j] << endl << "largura: " << larguras[j] << endl << "Custo material(m2): " << custo_material[j] << endl << "Lacagem: " << lacagens[j]<<endl <<endl <<endl;
    }
    cout << "Proposta total: " << pt << endl << endl;
    return 0;
 }
